@import 'bootstrap/dist/css/bootstrap.min.css';
@import "toastr";

body {
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(180, 155, 125, 0.5);
    border-color: rgba(180, 155, 125, 0.5);
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(180, 155, 125, 0.5);
    border-color: rgba(180, 155, 125, 0.5);
}

.dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: rgba(180, 155, 125, 0.5);
}

.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.6s ease;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.loader-gif {
    width: 100px; /* Настройте под ваш GIF */
    height: auto;
}

.loading-text {
    font-size: 18px;
    color: #333;
}

.heart {
    display: inline-block;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

.page-loader.hidden {
    opacity: 0;
    pointer-events: none;
}

